@font-face{
    font-family:"helvetica";
    src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}


body{
    font-family: 'helvetica', "Arial", sans-serif;
    box-sizing: border-box;
    
    /* background-image: url(assets/blurry_background.jpg); */

    background: rgb(6,190,182);
    background: -moz-linear-gradient(148deg, rgba(6,190,182,1) 38%, rgba(72,177,191,1) 60%);
    background: -webkit-linear-gradient(148deg, rgba(6,190,182,1) 38%, rgba(72,177,191,1) 60%);
    background: linear-gradient(148deg, rgba(6,190,182,1) 38%, rgba(72,177,191,1) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#06beb6",endColorstr="#48b1bf",GradientType=1);
    text-align: center;
}
.header{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 4px solid white;
}

.header h1{
    font-size: 350%;
    color:white;
}

.content{
    background-color: rgba(240, 248, 255, 0.348);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 30px;
    border-radius: 100px;
}
.all img{
    object-fit: cover;
    width: 70vw;
    max-width: 450px;

}
.content img{
    border-radius: 20px;
}

.content div{
    margin-bottom: 20px;
}


.text{
    /* background-color: rgba(66, 66, 66, 0.508); */
    border-radius: 15px;
    padding-left: 20px;
    padding-right:20px;
    font-size: 140%;
    color: #023047;
    font-weight: 400;
    text-align: left;
    text-indent: 5%;
    /* font-size: 20px; */
    /* width: 50vw; */
    display: flex;
    align-items: center;
}

/* .txt{
    margin: auto;
} */


.bookfair{
    display: flex;  
    gap: 20px;
    border-bottom: 4px solid white;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: center; */
}


.pianoconcert{
    display: flex;
    /* justify-content: flex-end;   */
    gap: 20px;
    border-bottom: 4px solid white;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: center; */
}

.debate{
    display: flex;
    /* justify-content: flex-end;   */
    gap: 20px;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: center; */
}

/* .return{
    display: flex;
    background-color: #F9a66c;
    color: #4a6163;
    border-radius: 12px;
    max-width: 100px;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight:600;
} */
.topnav{
    width: auto;
    overflow: hidden;
    display: flex;
    align-items: flex-end;

}
.topnav img{
    float: left;
    height: 100px;
    margin-right: 100px;

}

@media (max-width: 1030px){
    .bookfair, .debate, .pianoconcert{
        display:initial;
        align-content: center;
        border-bottom: 4px solid #F9a66c;
    }

}

.btn_wrapper{
    width: 240px;
    height: 3vw;
}
.rectangle{
    stroke-width: 8px;
    stroke: #FF7F3E;
    fill: transparent;
    stroke-dasharray: 150 500;
    stroke-dashoffset: -334;
}
.rectangle_act{
    stroke-width: 8px;
    stroke:  white;
    fill: transparent;
    stroke-dasharray: 150 500;
    stroke-dashoffset: -334;
}


.btn{
    position: relative;
    align-self: center;
    color: white;
    font-size: 30px;
    top: -45px;
}

@keyframes extend{
    to {
        stroke-dasharray: 700;
        stroke-dashoffset: 50;
        stroke-width: 6;

    }
}

.btn_wrapper:hover .rectangle{
    animation: 0.5s extend linear forwards;
}
.btn_wrapper:hover .rectangle_act{
    animation: 0.5s extend linear forwards;
}

.contact{
    width: 100%;;
    /* background-color: #e9a17b; */
    margin: 0;
    margin-top: 30px;
    padding: 0;
    box-sizing: border-box;
    padding: 40px;
}

.logo{
    display: flex;
    align-items: center;
}
.image-6{
    width: 60px;
}
hr{
    height: 5px;
    width: 30%;
    color: #fef4ea;
    background-color: #fef4ea;
    border: #fef4ea;
}
