body {
  font-family: 'helvetica', Arial, sans-serif;
  box-sizing: border-box;
  text-align: center;
}



.discription-1,
.discription-2 {
  width: 50%; /* 30% screen width */
  margin-left: 10%; /* Aligns to the left */
  padding: 20px 20px; /* Padding for spacing */
  text-align: left; /* Align text to the left */
}

.discription-1 header,
.discription-2 header {
  font-family: 'helvetica', Arial, sans-serif; /* Bold and accent font for heading */
  font-weight: 800;
  font-size: 3rem; /* Adjust heading size */
  background: linear-gradient(to right, red, orange); /* Red-to-orange gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Applies gradient to text */
}

.discription-1 p,
.discription-2 p {
  color:#192733;
  font-family: 'helvetica', Arial, sans-serif; /* Formal text font */
  font-size: 1.3rem;
  font-weight: 600; /* Slightly heavier font weight */
  text-indent: 2em; /* Indent for text */
  line-height: 1.2; /* Improves readability */
  margin-top: 5px; /* Spacing between paragraphs */
}



.topnav {
  background-color: #16325B;
  height: 12vh;
  width: auto;
  display: flex;
  border-bottom: 5px solid #FF7F3E;
}

.topnav img {
  float: left;
  height: 10vh;
  margin-right: 6vw;
}

.guider {
  display: flex;
  align-items: center;
}

.btn_wrapper {
  width: 15vw;
  height: 3vh;
}

.btn {
  font-weight: 600;
  font-size: 2vw;
  font-family: 'helvetica', Arial, sans-serif;
  color: white;
  transition: color 1s;
  position: relative;
}

.btn:hover {
  color: #FF7F3E;
}
