#portraits{
    display: flex;
    justify-content: space-around;
}
.members{
    
}
.topnav{
    width: 80%;
    overflow: hidden;

}
.topnav img{
    float: left;
    height: 100px;
    margin-right: 100px;

}

.topnav a{
    float: left;
    color: #212121;
    text-align: center;
    padding: 30px 2vw;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.topnav a:hover {
    background-color: #e3723e;
    color: white;
}

.topnav a.active {
    background-color: #cfb53b;
    color: #212121;
  }


.topnav a:focus{
    outline: none;
}